<div class='mt-4'>
    <h3>Cập nhật khóa học</h3>
    <form class='mt-4' method='POST' action='/courses/{{course._id}}?_method=PUT'>
        <div class='mb-3'>
            <label for='name' class='form-label'>Tên khóa học</label>
            <input
                type='text'
                class='form-control'
                value='{{course.name}}'
                id='name'
                aria-describedby='emailHelp'
                name='name'
            />
            <label for='description' class='form-label'>Mô tả khóa học</label>
            <input
                type='text'
                class='form-control'
                value='{{course.description}}'
                id='description'
                aria-describedby='emailHelp'
                name='description'
            />
            <label for='videoId' class='form-label'>Video Id</label>
            <input
                type='text'
                class='form-control'
                value='{{course.videoId}}'
                id='videoId'
                aria-describedby='emailHelp'
                name='videoId'
            />
            <label for='level' class='form-label'>Trình độ</label>
            <input
                type='text'
                class='form-control'
                value='{{course.level}}'
                id='level'
                aria-describedby='emailHelp'
                name='level'
            />

        </div>

        <button type='submit' class='btn btn-primary'>Lưu lại</button>
    </form>
</div>